USE [master]
GO
/****** Object:  Database [nutritionapp]    Script Date: 23/10/2019 15:40:50 ******/
CREATE DATABASE [nutritionapp]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'nutritionapp', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\nutritionapp.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'nutritionapp_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\nutritionapp_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [nutritionapp].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [nutritionapp]
GO
/****** Object:  Table [dbo].[Foods]    Script Date: 23/10/2019 15:40:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Foods](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NOT NULL,
	[notes] [varchar](max) NULL,
 CONSTRAINT [PK_Foods] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Groups]    Script Date: 23/10/2019 15:40:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Groups](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Groups] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ingredients]    Script Date: 23/10/2019 15:40:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ingredients](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[food_id] [int] NOT NULL,
	[style_id] [int] NOT NULL,
	[servingSize_id] [int] NOT NULL,
	[type_id] [int] NOT NULL,
	[quantity] [decimal](16, 2) NOT NULL,
	[unit_id] [int] NOT NULL,
	[notes] [varchar](max) NULL,
 CONSTRAINT [PK_Ingredients] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServingSizes]    Script Date: 23/10/2019 15:40:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServingSizes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NOT NULL,
	[dataValue] [decimal](6, 2) NOT NULL,
	[unit_id] [int] NOT NULL,
 CONSTRAINT [PK_ServingSizes] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Styles]    Script Date: 23/10/2019 15:40:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Styles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Styles] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Types]    Script Date: 23/10/2019 15:40:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Types](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NOT NULL,
	[group_id] [int] NOT NULL,
	[maxDV] [varchar](50) NULL,
	[notes] [varchar](max) NULL,
 CONSTRAINT [PK_Types] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Units]    Script Date: 23/10/2019 15:40:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Units](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[description] [varchar](max) NULL,
 CONSTRAINT [PK_Units] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Ingredients]  WITH CHECK ADD  CONSTRAINT [FK_Ingredients_Foods] FOREIGN KEY([food_id])
REFERENCES [dbo].[Foods] ([id])
GO
ALTER TABLE [dbo].[Ingredients] CHECK CONSTRAINT [FK_Ingredients_Foods]
GO
ALTER TABLE [dbo].[Ingredients]  WITH CHECK ADD  CONSTRAINT [FK_Ingredients_ServingSizes] FOREIGN KEY([servingSize_id])
REFERENCES [dbo].[ServingSizes] ([id])
GO
ALTER TABLE [dbo].[Ingredients] CHECK CONSTRAINT [FK_Ingredients_ServingSizes]
GO
ALTER TABLE [dbo].[Ingredients]  WITH CHECK ADD  CONSTRAINT [FK_Ingredients_Styles] FOREIGN KEY([style_id])
REFERENCES [dbo].[Styles] ([id])
GO
ALTER TABLE [dbo].[Ingredients] CHECK CONSTRAINT [FK_Ingredients_Styles]
GO
ALTER TABLE [dbo].[Ingredients]  WITH CHECK ADD  CONSTRAINT [FK_Ingredients_Types] FOREIGN KEY([type_id])
REFERENCES [dbo].[Types] ([id])
GO
ALTER TABLE [dbo].[Ingredients] CHECK CONSTRAINT [FK_Ingredients_Types]
GO
ALTER TABLE [dbo].[Ingredients]  WITH CHECK ADD  CONSTRAINT [FK_Ingredients_Units] FOREIGN KEY([unit_id])
REFERENCES [dbo].[Units] ([id])
GO
ALTER TABLE [dbo].[Ingredients] CHECK CONSTRAINT [FK_Ingredients_Units]
GO
ALTER TABLE [dbo].[ServingSizes]  WITH CHECK ADD  CONSTRAINT [FK_ServingSizes_Units] FOREIGN KEY([unit_id])
REFERENCES [dbo].[Units] ([id])
GO
ALTER TABLE [dbo].[ServingSizes] CHECK CONSTRAINT [FK_ServingSizes_Units]
GO
ALTER TABLE [dbo].[Types]  WITH CHECK ADD  CONSTRAINT [FK_Types_Groups] FOREIGN KEY([group_id])
REFERENCES [dbo].[Groups] ([id])
GO
ALTER TABLE [dbo].[Types] CHECK CONSTRAINT [FK_Types_Groups]
GO
/****** Object:  StoredProcedure [dbo].[spFoods_FindAll]    Script Date: 23/10/2019 15:40:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spFoods_FindAll]
	@Name varchar(100)
AS
BEGIN
	SET NOCOUNT ON;

	SELECT *
	FROM dbo.Foods
	WHERE name LIKE '%'+@Name+'%';
END
GO
/****** Object:  StoredProcedure [dbo].[spFoods_GetAll]    Script Date: 23/10/2019 15:40:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spFoods_GetAll]
AS
BEGIN
	SET NOCOUNT ON;

	SELECT *
	FROM dbo.Foods;
END
GO
/****** Object:  StoredProcedure [dbo].[spFoods_GetSum]    Script Date: 23/10/2019 15:40:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spFoods_GetSum]
	@Sum int = 0 output
AS
BEGIN
	SET NOCOUNT ON;

	SELECT @Sum = Count(Id) FROM Foods;

END
GO
/****** Object:  StoredProcedure [dbo].[spFoods_Insert]    Script Date: 23/10/2019 15:40:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spFoods_Insert]
	@Name varchar(100),
	@Notes varchar(max),
	@Id int = 0 output
AS
BEGIN
	SET NOCOUNT ON;

	INSERT INTO dbo.Foods (name, notes)
	VALUES (@Name, @Notes);

	SELECT @Id = SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [dbo].[spFoods_Remove]    Script Date: 23/10/2019 15:40:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create PROCEDURE [dbo].[spFoods_Remove]
	@Id int
AS
BEGIN
	SET NOCOUNT ON;

	DELETE FROM dbo.Foods
	WHERE id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[spIngredients_Insert]    Script Date: 23/10/2019 15:40:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spIngredients_Insert]
	@Food_Id int,
	@Style_Id int,
	@ServingSize_Id int,
	@Type_Id int,
	@Quantity decimal(16,2),
	@Unit_Id int,
	@Notes varchar(max),
	@Id int = 0 output
AS
BEGIN
	SET NOCOUNT ON;

	INSERT INTO dbo.Ingredients(food_id, style_id, servingSize_id, type_id, quantity, unit_id, notes)
	VALUES (@Food_Id, @Style_Id, @ServingSize_Id, @Type_Id, @Quantity, @Unit_Id, @Notes);

	SELECT @Id = SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [dbo].[spServingSizes_GetAll]    Script Date: 23/10/2019 15:40:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spServingSizes_GetAll]
AS
BEGIN
	SET NOCOUNT ON;
	SELECT *
	FROM dbo.ServingSizes;
END
GO
/****** Object:  StoredProcedure [dbo].[spServingSizes_Insert]    Script Date: 23/10/2019 15:40:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spServingSizes_Insert]
	@Name varchar(100),
	@DataValue decimal(6,2),
	@Unit_Id int,
	@Id int = 0 output
AS
BEGIN
	SET NOCOUNT ON;

	INSERT INTO dbo.ServingSizes (name, dataValue, unit_id)
	VALUES (@Name, @DataValue, @Unit_Id);

	SELECT @Id = SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [dbo].[spStyles_GetAll]    Script Date: 23/10/2019 15:40:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spStyles_GetAll]
AS
BEGIN
	SET NOCOUNT ON;
	SELECT *
	FROM dbo.Styles;
END
GO
/****** Object:  StoredProcedure [dbo].[spStyles_Insert]    Script Date: 23/10/2019 15:40:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spStyles_Insert]
	@Name varchar(100),
	@Id int = 0 output
AS
BEGIN
	SET NOCOUNT ON;

	INSERT INTO dbo.Styles (name)
	VALUES (@Name);

	SELECT @Id = SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [dbo].[spTypes_GetByName]    Script Date: 23/10/2019 15:40:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spTypes_GetByName] 
	@name varchar(100)
AS
BEGIN
	SET NOCOUNT ON;
	
	SELECT *
	FROM dbo.Types
	WHERE name = @name;
   
END
GO
/****** Object:  StoredProcedure [dbo].[spUnits_GetAll]    Script Date: 23/10/2019 15:40:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spUnits_GetAll]
AS
BEGIN
	SET NOCOUNT ON;

	SELECT *
	FROM dbo.Units;
END
GO
/****** Object:  StoredProcedure [dbo].[spUnits_GetByName]    Script Date: 23/10/2019 15:40:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spUnits_GetByName]
	@name varchar(50)
AS
BEGIN
	SET NOCOUNT ON;

	SELECT *
	FROM dbo.Units
	WHERE name = @name;
END
GO
/****** Object:  StoredProcedure [dbo].[spUnits_Insert]    Script Date: 23/10/2019 15:40:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spUnits_Insert]
	@Name varchar(50),
	@Description varchar(max),
	@Id int = 0 output
AS
BEGIN
	SET NOCOUNT ON;

	INSERT INTO dbo.Units (name, description)
	VALUES (@Name, @Description);

	SELECT @Id = SCOPE_IDENTITY();
END
GO
USE [master]
GO
