<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
      <!--<add name="nutritionapp" connectionString="Server=DESKTOP-9430TLJ;Database=nutritionapp;User Id=dejo;Password=test;" providerName="System.Data.SqlClient"/>-->
      <add name="nutritionapp" connectionString="Server=DESKTOP-9430TLJ;Database=nutritionapp;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>